{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}


<br />
<br />
<div class="container mt-4">
  <div class="row-sm-6">
    <h2 class="display-4">Reset Password</h2>
    <p>
      Please enter your email address and we will send you a link to reset your
      password.
    </p>
    <p>
      If didn't receive the verified you entered the correct email and/or, check
      your spam folder, or
      <a href="{% url 'password_reset' %}">click here to resend</a>
    </p>
  </div>
</div>

<br />
<br />

{% endblock %}
