<!-- Navigation -->

{% load static %}

<ul class="navbar-nav ms-auto">
    <li class="nav-item dropdown dropdown-full-width">
        <a class="nav-link px-xl-4 text-gigas"  href="{% url 'home' %}">
            <span>Home</span>
        </a>
    </li>

    <li class="nav-item dropdown dropdown-full-width">
        <a class="nav-link  px-xl-4 text-gigas" href="#">
            <span>About</span>
        </a>
    </li>

    <li class="nav-item dropdown dropdown-full-width">
        <a class="nav-link  px-xl-4 text-gigas" href="#">
            <span>Contact Us</span>
        </a>
    </li>

    <li class="nav-item dropdown dropdown-full-width">
        <a class="nav-link dropdown-toggle px-xl-4 text-gigas" href="#">
            <span>My Courses</span>
        </a>
</ul>
